/* theme overides */
p {
    &.alert{
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        &.info {
            border: 1px solid #b8daff;
            color:#004085;
            background-color:#cce5ff;
            *{
                color:#004085;
            }
        }
    }
}