/* theme overides */

body{
    p{
        color: #333;
    }
    h1,h2,h3,h4,h5
    {
        color: #555;
    }
    h1{
        border-bottom:1px solid #ccc;
        padding-bottom: 10px;
        font-size:2.8rem;
        color:#7159c1;
    }
    h2{
        font-size:2.3rem;
        padding-bottom:10px;
        padding-top:10px;
    }
    h3{
        font-size:1.5rem;
    }
}
